
    .quiz {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: flex-start;
  
          .quiz__progress {
              background: #EEEEEE;
              height: 2px;
              width: 100%;
              margin-bottom: 50px;
  
              .progress-bar__fill {
                  background-color: #FB7C81;
              }
          }
  
          .quiz__questions-counter {
              width: 100%;
              font-family: Open Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 80px;
          }
          
          .reset-button {
              position: absolute;
              width: auto !important;
              left: 50%;
              transform:translate(-50%, -50%);
              bottom: 0;
              padding: 20px;

          }
      
      }