/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.category-description {
    &__header {
        margin: auto;
        max-width: 572px;
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: Cormorant;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: #FC7076;
    }

    &-item {
        margin-bottom: 20px;
    }

    &__separator {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-shadow: 0px 2.83688px 8.09px rgba(196, 196, 196, 0.31);
                box-shadow: 0px 2.83688px 8.09px rgba(196, 196, 196, 0.31);
        border-radius: 9.21986px;
        padding: 10px 20px 10px 20px;
        word-wrap: wrap;
        font-size: 13px;
        white-space: pre-wrap;
    }
}