.user-form {
    max-width: 670px;
    max-height: 615px;
    -webkit-box-shadow: 0px 2.83688px 23.09px rgba(235, 192, 192, 0.22);
            box-shadow: 0px 2.83688px 23.09px rgba(235, 192, 192, 0.22);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: Open Sans;

    &__header {
        max-width: 500px;
        width: 80%;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        text-align: center;
        margin: 30px 0px 30px 0px;
        @media (max-width: 1000px) {
            font-size: 16px;
        
        }

    }

    &__form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 80%;

    }

    &__input {
            width: 100%;
            height: 70px;
            @media (max-width: 500px) {
                height: 55px;
                font-size: 13px;
            }
            border: 1px solid #EBEBEB;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border-radius: 6px;
            padding: 15px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 34px;
            margin-bottom: 20px;
            color: #838383;
            outline: none;

            &:focus {
                border: 1px solid #F4CCCC;
            }
        }

        &__privacy-label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-top: 0px;
            
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #838383;
        }

        &__privacy {
                width: 25px;
                height: 25px;
                border: 1px solid #CBCBCB;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                border-radius: 4px;
                margin-right: 10px;
                color: #FB6369;         
                &:checked {
                    color: #FB6369;
                }
            }

    &__submit {
            margin-top: 20px;
            height: 70px;
            @media(max-width: 500px) {
                height: 55px;
                font-size: 15px;
            }
            background: #FB6369;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: #fff;
            cursor: pointer;
        }

    .input_error {
        border: 1px solid #F22830;
    }

    .privacy_error {
        border-bottom: 1px solid #F22830;
        color: #F22830;

    }
}
    